<%= page_title "Штатное расписание", directories_organizations_path %>

<div class="app-card app-card-orders-table shadow-sm mb-5">
  <div class="app-card-body p-3">
    <div class="treeview">
      <%= fields_for :locations do |f| %>
        <%= nested_li @departments do |department| %>
          <%= tag.div class: department.parent.nil? && "title-primary" do %>
            <div class="float-start">
              <%#= bs_icon 'dash-square' %>
              <%#= f.check_box :id, class: "ms-2 align-middle"  %>
              <%= bs_icon 'folder' %>
              <%= bs_icon 'grip-vertical' if department.parent %>
            </div>

            <div class="float-end d-flex gap-2">
              <%= link_to new_directories_organization_department_path(@organization, department: {parent_id: department}), title: t('.add_department') do %>
                <%= bs_icon 'folder-plus' %>
              <% end %>
              <%= link_to new_directories_organization_title_path(@organization, title: {department_id: department}), title: t('.add_title') do %>
                <%= bs_icon 'person-plus' %>
              <% end %>
              <%= link_to directories_organization_department_path(@organization, department), title: t('.edit_department') do %>
                <%= bs_icon 'pencil-square' %>
              <% end if department.parent %>
            </div>

            <%= tag.div department.name, class: "text-truncate px-2", title: department.name %>
          <% end %>

          <ul>
          <% department.titles.each do |title| %>
            <li>
              <div>
                <div class="float-start">
                  <%#= f.check_box :id, class: "ms-2 align-middle" %>
                  <%= bs_icon 'person-circle' %>
                  <%= bs_icon 'grip-vertical' %>
                </div>

                <div class="float-end d-flex gap-2">
                  <%= link_to directories_organization_title_path(@organization, title), title: t('.edit_title') do %>
                    <%= bs_icon 'pencil-square' %>
                  <% end %>
                </div>
                
                <%= tag.div title.name, class: "text-truncate px-2", title: title.name %>
              </div>
            </li>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>