<%= page_title "Штатное расписание [#{@organization.name}]", directories_organizations_path %>

<%= fields_for :locations do |f| %>
  <%= nested_li @departments, ul_class: "list-group list-group-flush", li_class: "list-group-item" do |department| %>
    <div class="row justify-content-between">
      <div class="col-8">
        <%= bs_icon 'grip-vertical' %>
        <%= bs_icon 'folder' %>
        
        <%= tag.span department.name, class: "text-truncate ps-2", title: department.name %>
      </div>
      <div class="col-auto d-flex gap-3">
        <%= link_to new_directories_organization_department_path(@organization, department: {parent_id: department}), title: t('.add_department') do %>
          <%= bs_icon 'folder-plus' %>
        <% end %>
        <%= link_to new_directories_organization_title_path(@organization, title: {department_id: department}), title: t('.add_title') do %>
          <%= bs_icon 'person-plus' %>
        <% end %>
      </div>
    </div>
    <ul class="list-group list-group-flush">
    <% department.titles.each do |title| %>
      <li class="list-group-item">
        <div class="row justify-content-between">
          <div class="col-8">
            <%= bs_icon 'grip-vertical' %>
            <%= bs_icon 'person-circle' %>
            
            <%= tag.span title.name, class: "text-truncate ps-2", title: title.name %>
          </div>
          <div class="col-auto">
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
<% end %>