<li class="list-group-item">
  <div class="float-start">
    <%= bs_icon 'building' %>
  </div>

  <div class="float-end d-flex gap-2">
    <% unless organization.department %>
      <%= button_to t('.create_staffing_table'), directories_organization_staffing_path(organization), class: 'btn btn-sm btn-primary' %>
    <% else %>
      <%= link_to t('.staffing_table'), directories_organization_staffing_path(organization), class: 'btn btn-sm btn-primary' %>
    <% end %>
    <%= link_to directories_organization_path(organization), title: t('.edit_organization') do %>
      <%= bs_icon 'pencil-square' %>
    <% end if organization.code.nil? %>
  </div>

  <%= tag.div class: "text-truncate px-2", title: organization.name do %>
    <%= organization.name %>
  <% end %>
</li>