<% content_for :title do %>
  <%= render partial: "shared/filters/search" %>
  <%= link_to [:new, :directories, :organization], class: "btn btn-primary flex-fill" do %>
    <%= bs_icon 'building-add' %>
    <%= t('.new') %>
  <% end %>
  <%#= link_to t('.import'), import_directories_employees_path, class: "btn btn-sm btn-secondary flex-fill" %>
<% end %>

<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <ul class="list-group list-group-flush">
          <%= render @organizations %>
        </ul>
      </div><!--//app-card-body-->		
    </div><!--//app-card-->

    <%= render partial: "shared/paginate", locals: { items: @organizations, link: lambda {|q| directories_organizations_path(q)} } %>
  </div><!--//tab-pane-->
</div><!--//tab-content-->