<%= render "shared/errors", model: user %>

<%= form_with model: user, url: [:user, :registration], class: "auth-form auth-signup-form" do |f| %>
  <div class="mb-3">
    <%= f.email_field :email, class: "form-control", placeholder: t('activerecord.attributes.user..email'), autocomplete: "email", autofocus: true %>
  </div>
  
  <div class="mb-3">
    <%= f.collection_select :employee_id,
          Employee.all, :id, :name,
          { include_blank: true },
          { class: "form-control js-select", placeholder: t('activerecord.attributes.user.employee'), autocomplete: "off" } %>
  </div>

  <div class="mb-3">
    <%= f.password_field :password, class: "form-control", placeholder: t('activerecord.attributes.user.password'), autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <small class="fst-italic">(<%= @minimum_password_length %> символов минимум)</small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: t('activerecord.attributes.user.password_confirmation'), autocomplete: "new-password" %>
  </div>

  <div class="extra mb-3">
    <div class="form-check">
      <%= f.check_box :terms_of_service, class: "form-check-input" %>
      <%= f.label :terms_of_service, class: "form-check-label" do %>
        Я согласен с <a href="/service" class="app-link">условиями оказания услуг</a> и <a href="/policy" class="app-link">политикой конфиденциальности</a> itPortal`а.
      <% end %>
    </div>
  </div>

  <div class="form-actions text-center">
    <%= f.submit "Зарегистрироваться", class: "btn app-btn-primary w-100 theme-btn mx-auto" %>
  </div>
<% end %>