<%= form_with model: [:accounting, @model, note] do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :date, class: "form-label" %>
    <%= f.date_field :date, class: "w-100 form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :text, class: "form-label" %>
    <%= f.text_area :text, class: "w-100 form-control", rows: "3" %>
  </div>

  <div class="form-actions text-center">
    <%= link_to t(:cancel), [:accounting, @model], class: "btn app-btn-secondary" %>
    <%= f.button :submit, class: "btn app-btn-primary" %>
  </div>
<% end %>