<%= turbo_frame_tag note do %>
  <%= form_with model: [:accounting, @note.noteble, note], enctype: "multipart/form-data" do |f| %>
    <%= render "shared/errors", model: note %>
    
    <div class="mb-3">
      <%= f.label :date, class: "form-label" %>
      <%= f.date_field :date, class: "w-100 form-control" %>
    </div>

    <div class="mb-3">
      <span class="float-end">
        <%= f.label :images, class: "btn btn-sm" do |lebel| %>
          <%= bs_icon :upload %>
          <%= lebel %>
        <% end %>
      </span>
      <%= f.label :text, class: "form-label" %>
      <%= f.file_field :images, accept: "image/*", multiple: true, class: "d-none image-preview" %>
      <%= f.text_area :text, class: "w-100 form-control", rows: "3" %>
    </div>

    <div class="form-actions text-center">
      <%= link_to t('global.cancel'), @back_url, class: "btn btn-outline-secondary", data: { turbo: turbo_frame_request? } %>
      <%= f.button :submit, class: "btn btn-primary", data: { turbo: turbo_frame_request? } %>
    </div>
  <% end %>
<% end %>