<% return if note.new_record? %>
<tr>
  <td class="cell text-center">
    <%= tag.small l note.date, format: "%d.%m.%Y" %>
  </td>
  <td class="cell">
    <%= link_to "#{note.noteble&.name}:", [:accounting, note.noteble] unless @accounting.present? %>
    <div class="fst-italic">
      <% if note.text.empty? && note.images.empty? %>
        <p class="m-0">[нет содержимого]</p>
      <% else %>
        <% note.text.lines.each do |line| %>
          <%= tag.p line, class: "m-0" %>
        <% end %>
        <% if note.images.any? %>
          <div class="mt-1 d-flex gap-1 flex-wrap">
            <% note.images.each do |image| %>
              <%= link_to rails_storage_proxy_path(image), data: { fancybox: "gallery-#{note.id}" } do %>
                <%= image_tag rails_storage_proxy_path(image.variant(:icon)), class: "thumb-image img-thumbnail" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="cell text-end">
    <%= link_to bs_icon('pencil-square'), [:accounting, note], data: { turbo: false } if policy(note).edit? %>
  </td>
</tr>