<%= form_with model: [:accounting, @model, possession] do |f| %>
  <% if possession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(possession.errors.count, "error") %> prohibited this possession from being saved:</h2>
      <ul>
        <% possession.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% max = @model.count - @model.possessions.map(&:count).sum + (possession.id && possession.count || 0) %>
  <% if max > 1 %>
  <div class="mb-3">
    <%= f.label :count, class: "form-label" %>
    <%= f.number_field :count, min: 1, max: max, class: "w-100 form-control" %>
  </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :employee_id, class: "form-label" %>
    <%= f.collection_select :employee_id,
        Employee.all, :id, :name,
        { include_blank: true },
        { class: "form-control js-select", placeholder: t('.employee'), autocomplete: "off" } %>
  </div>

  <div class="mb-3">
    <%= f.label :room_id, class: "form-label" %>
    <%= f.collection_select :room_id,
        Room.all, :id, :full_name,
        { include_blank: true },
        { class: "form-control js-select", placeholder: t('.room'), autocomplete: "off" } %>
  </div>

  <div class="form-actions text-center">
    <%= link_to t(:cancel), [:accounting, @model], class: "btn app-btn-secondary" %>
    <%= f.button :submit, class: "btn app-btn-primary" %>
  </div>
<% end %>