<%= render "shared/errors", model: job %>

<%= form_with model: job do |f| %>
  <div class="mb-3">
    <%= f.label :type, class: "form-label" %>
    <%= f.select :type,
          Job.job_types.map{|k,v| [Job.human_enum_name(:types, k), k]},
          { include_blank: true },
          { class: "form-control js-select", placeholder: t('.type'), autocomplete: "off" } %>
  </div>

  <div class="form-actions text-center">
    <%= link_to t('global.cancel'), @back_url, class: "btn btn-outline-secondary" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>