<% return unless history.record %>

<%= tag.li class: "list-group-item" do %>
  <div class="d-flex gap-2 align-items-center">
    <div>
      <%= tag.span "#{history_counter + 1}." %>
    </div>

    <%= tag.div class: "flex-fill text-truncate px-2" do %>
      <div class="row align-items-center">
        <%= render partial: "item_#{history.record_type.downcase}", locals: {history: history} %>

        <% if history.action == 'change' %>
          <div class="col">
            <div class="d-flex flex-column">
              <% history.values.each do |k,v| %>
                <div class="d-flex gap-2">
                  <%= tag.strong "#{k}:"%>
                  <%= tag.span "#{v} -> #{history.record[k]}" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>