<div class="col-auto col-sm-8 col-md-7 text-truncate">
  <%= link_to history.record.name, [:accounting, history.record] if history.record %><br/>
  <small><%= history.record&.mol&.name %></small>
</div>
<div class="col-auto col-sm text-truncate">
  <div class="d-flex flex-wrap align-items-center gap-2 mt-2 mt-sm-0">
    <% if history.record&.count %>
      <% css_class = {add: 'text-bg-success', remove: 'text-bg-danger', change: 'text-bg-secondary'}[history.action.to_sym] || '' %>
      <% sign = {add: '+', remove: '-'}[history.action.to_sym] || '' %>
      <%= tag.span "#{sign}#{history.record&.count} шт", class: "badge rounded-pill #{css_class}" %>
    <% end %>

    <% if history.record&.notes.any? %>
      <% css_class = {add: 'text-success', remove: 'text-danger', change: 'text-secondary'}[history.action.to_sym] || '' %>
      <%= tag.span class: "badge rounded-pill #{css_class}", title: "Объект имеет заметки" do %>
        <%= bs_icon 'journal-bookmark' %>
      <% end %>
    <% end %>

    <% if history.record&.images.any? %>
      <% css_class = {add: 'text-success', remove: 'text-danger', change: 'text-secondary'}[history.action.to_sym] || '' %>
      <%= tag.span class: "badge rounded-pill #{css_class}", title: "Объект имеет изображения" do %>
        <%= bs_icon 'images' %>
      <% end %>
    <% end %>
  </div>
</div>