<% job.status ||= ActiveJob::Status.get(job.job_id).to_h %>
<%= tag.li class: "list-group-item", data: {job_id: job.job_id} do %>
  <div class="d-flex gap-2 align-items-center">
    <div>
      <%= bs_icon 'boxes' %>
    </div>

    <%= tag.div class: "flex-fill text-truncate px-2" do %>
      <div class="row align-items-center">
        <%= tag.div class: "col-12 #{job.status['status'] == 'working' ? 'col-md-auto' : 'col-sm-8 col-md-7 col-lg-6'} text-truncate" do %>
          <%= link_to t("job.types.#{job.job_type}"), job, class: "d-block text-truncate" %>
          <small>
            <%= "[#{job.job_id}]" %>
          </small>
        <% end %>
        <%= tag.div class: "#{job.status['status'] == 'working' ? 'col' : 'col-sm-4 col-md-3'} text-truncate" do %>
          <%= tag.div class: "d-flex flex-nowrap mt-2 #{job.status['status'] == 'working' ? 'mt-md-0 justify-content-md-center' : 'mt-sm-0 justify-content-sm-center'}" do %>
            <% if job.status['status'] == 'working' %>
              <%= tag.div class: "d-flex align-items-center me-2" do %>
                <%= tag.span class: "spinner-border spinner-border-sm text-secondary" do %>
                  <%= tag.span "Loading...", class: "visually-hidden" %>
                <% end %>
              <% end %>
              <%= job_current_log_step job %>
            <% else %>
              <%= render partial: 'short_history', locals: {job: job} %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="d-flex gap-2">
      <%= job_status job %>

      <%= link_to "#job-#{job.job_id}", data: {'bs-toggle': "collapse" } do %>
        <%= bs_icon 'arrow-down-left-square' %>
      <% end unless job.status && job.status['status'] == 'queued' %>
    </div>
  </div>

  <%= tag.div id: "job-#{job.job_id}", class: "collapse" do %>
    <div class="pt-2">
      <div class="d-flex flex-column gap-2">
        <%= render partial: 'log', locals: {job: job} %>
      </div>
    </div>
  <% end if job.status %>
<% end %>

<%= job_progress job %>