<%= tag.li id: "job_#{job.job_id}", class: "list-group-item" do %>
  <div class="d-flex gap-2 align-items-center">
    <div>
      <%= bs_icon 'boxes' %>
    </div>

    <%= tag.div class: "flex-fill text-truncate px-2" do %>
      <div id="job_item_<%= job.job_id %>" class="row align-items-center">
        <%= render "job_item", job: job %>
      </div>
    <% end %>

    <div id="job_action_<%= job.job_id %>" class="d-flex gap-2">
      <%= render "job_action", job: job %>
    </div>
  </div>

  <%= tag.div id: "job_log_#{job.job_id}", class: "collapse" do %>
    <div class="pt-2">
      <div id="job_log_messages_<%= job.job_id %>" class="d-flex flex-column gap-2">
        <%= render partial: 'jobs/log', locals: {job: job} %>
      </div>
    </div>
  <% end if job.status %>
<% end %>

<%= job_progress job %>