<% job.status ||= ActiveJob::Status.get(job.job_id).to_h %>
<%= tag.tr class: "job-#{job.status['status']}" do %>
  <td class="cell text-center"><%= tag.small l job.start_time.localtime, format: "%d.%m.%Y %H:%M:%S" if job.start_time %></td>
  <td class="cell text-center"><%= tag.small l job.end_time.localtime, format: "%d.%m.%Y  %H:%M:%S" if job.end_time %></td>
  <td class="cell">
    <%= t ".#{job.job_type}" %><br/>
    <small><%= job.job_id %></small>
  </td>
  <td class="cell">
    <div class="d-flex flex-column gap-2">
      <div class="">
        <%= job.status['step'] %>
        <%= "[#{job.status['progress']} / #{job.status['total']}]" if job.status['progress'] %>
      </div>
      <% if job.status['exception'] %>
      <small class="alert alert-danger m-0 p-2">
        <h6 class="d-flex align-items-center gap-2">
          <%= bs_icon "exclamation-triangle-fill" %>
          <span>Ошибка при выполнении задания!</span>
        </h6>
        <strong><%= job.status['exception']['class'] %>:</strong>
        <%= job.status['exception']['message'] %>
      </small>
      <% end %>
    </div>
  </td>
<% end %>