<% provide :page_title, "Фоновые задачи" %>

<%= page_title "Фоновые задачи" do %>
  <%= link_to [:new, :job], class: "btn btn-primary flex-fill" do %>
    <%= bs_icon 'boxes' %>
    <%= t('.new') %>
  <% end if policy(:job).new? %>
  <%= link_to sidekiq_path, class: "btn btn-outline-secondary flex-fill" do %>
    <%= bs_icon 'boxes' %>
    <%= 'Sidekiq' %>
  <% end if current_user.has_role?(:superadmin) %>
<% end %>

<%= render "shared/nav_tabs", items: ['changed', 'all'] %>

<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <ul id="job_statuses" class="list-group list-group-flush">
          <%= render @jobs %>
        </ul>
      </div><!--//app-card-body-->		
    </div><!--//app-card-->

    <%= render partial: "shared/paginate", locals: { items: @jobs, link: lambda {|q| jobs_path(q)} } %>
  </div><!--//tab-pane-->
</div><!--//tab-content-->