<% provide :page_title, "Фоновые задачи" %>

<%= page_title Job.human_enum_name(:types, @job.job_type), @back_url do %>
  <%= link_to [@job], class: "btn btn-danger flex-fill", data: { turbo_method: :delete, turbo_confirm: t('global.confirm') } do %>
    <%= bs_icon('trash') %>
    <%= t('.remove') %>
  <% end if @add_histories.empty? && @remove_histories.empty? && @change_histories.empty? && policy(@job).destroy? %>
<% end %>

<% @job.status ||= ActiveJob::Status.get(@job.job_id).to_h %>

<div class="app-card app-card-settings shadow-sm p-4">
  <div class="app-card-body">

    <div class="d-flex gap-2 align-items-center">
      <div>
        <%= bs_icon 'boxes' %>
      </div>

      <%= tag.div class: "flex-fill text-truncate px-2", title: t("job.types.#{@job.job_type}") + " [#{@job.job_id}]" do %>
        <div class="row align-items-center">
          <div class="col-auto col-sm-8 col-md-7 text-truncate">
            <strong>UID:</strong>
            <%= @job.job_id %>
          </div>
          
          <div class="col-auto col-sm text-truncate">
            <div class="d-flex flex-wrap mt-2 mt-sm-0 justify-content-end">
              <%= render partial: 'short_history', locals: {job: @job} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="pt-3 mb-3">
      <div class="d-flex flex-column gap-2">
        <%= render partial: 'log', locals: {job: @job} %>
      </div>
    </div>

    <div class="accordion" id="recordsHistory">
      <%= render "job_histories/histories", job_histories: @add_histories, action: 'add', title: "Список добавленных записей", parent: "recordsHistory" %>
      <%= render "job_histories/histories", job_histories: @remove_histories, action: 'remove', title: "Список удаляемых записей", parent: "recordsHistory" %>
      <%= render "job_histories/histories", job_histories: @change_histories, action: 'change', title: "Список измененных записей", parent: "recordsHistory" %>
    </div>
   
  </div>
</div>