<%= form_with model: [:directories, @organization, department] do |f| %>
  <%= f.hidden_field :parent_id %>

  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>
      <ul>
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :department, class: "form-label" %>
    <%= render partial: 'shared/breadcrumb', locals: {item: @department.parent, link: lambda {|d| new_directories_organization_department_path(@organization, department: {parent_id: d})} } %>
  </div>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: t('.name') %>
  </div>

  <%# <div class="mb-3"> %>
    <%#= f.label :parent_id, class: "form-label" %>
    <%#= f.select :parent_id, nested_set_options(@organization.department.self_and_descendants, @department) {|i| "#{'-' * i.level} #{i.name}" }, { include_blank: true }, { class: "form-control" } %>
  <%# </div> %>
  
  <div class="form-actions text-center">
    <%= link_to t(:cancel), directories_organization_staffing_path(@organization), class: "btn app-btn-secondary" %>
    <%= f.button :submit, class: "btn app-btn-primary" %>
  </div>
<% end %>