<%= render "shared/errors", model: department %>

<%= form_with model: [:directories, @organization, department] do |f| %>
  <%= f.hidden_field :parent_id %>

  <div class="mb-3">
    <%= f.label :department, class: "form-label" %>
    <%= render partial: 'shared/breadcrumb', locals: {item: @department.parent, link: lambda {|d| new_directories_organization_department_path(@organization, department: {parent_id: d})} } %>
  </div>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: t('.name') %>
  </div>

  <%# <div class="mb-3"> %>
    <%#= f.label :parent_id, class: "form-label" %>
    <%#= f.select :parent_id, nested_set_options(@organization.department.self_and_descendants, @department) {|i| "#{'-' * i.level} #{i.name}" }, { include_blank: true }, { class: "form-control" } %>
  <%# </div> %>
  
  <div class="form-actions text-center">
    <%= link_to t('global.cancel'), @back_url, class: "btn btn-outline-secondary" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>