<%= render "shared/errors", model: user %>

<%= form_with model: user do |f| %>
  <div class="mb-3">
    <%= f.label :employee_id, class: "form-label" %>
    <%= f.collection_select :employee_id,
          Employee.all, :id, :name,
          { include_blank: true },
          { class: "form-control js-select", placeholder: t('.employee'), autocomplete: "off" } %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", placeholder: t('.email') %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control", placeholder: t('.password') %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: t('.password') %>
  </div>

  <div class="form-actions mb-3 d-flex gap-2 justify-content-center align-items-center">
    <%= link_to [user], class: "me-auto", data: { turbo_method: :delete, turbo_confirm: t('global.confirm') } do %>
      <%= bs_icon('trash') %>
      <%= t('global.delete') %>
    <% end unless user.new_record? %>
    <%= link_to t('global.cancel'), [:users], class: "btn btn-outline-secondary" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>