<li class="list-group-item">
  <div class="float-start">
    <%= bs_icon 'person' %>
  </div>

  <div class="float-end d-flex gap-2">
    <%= link_to [user], title: t('.edit_user') do %>
      <%= bs_icon 'pencil-square' %>
    <% end %>
  </div>

  <%= tag.div class: "text-truncate px-2", title: user.name do %>
    <%= user.name %>
  <% end %>

  <div class="d-flex gap-2 pt-2 align-items-center">
    <% if user.employee.images.any? %>
      <% image = user.employee.images.last %>
      <%= link_to rails_storage_proxy_path(image), data: { fancybox: "gallery-#{user.employee.id}" } do %>
        <%= image_tag rails_storage_proxy_path(image.variant(:icon)), class: "thumb-image img-thumbnail", style: "max-width: inherit" %>
      <% end %>
    <% end %>

    <small class="d-flex flex-fill flex-column fw-light">
      <% if user.employee.title %>
        <%= tag.div user.employee.title.department&.self_and_ancestors.map(&:name).join(" / ") %>
      <% elsif user.employee.organization %>
        <%= tag.div user.employee.organization&.name %>
      <% end %>
      <%= tag.div user.employee.title&.name %>
    </small>
  </div>
</li>