<% provide :page_title, "Изменение пароля" %>

<h2 class="auth-heading text-center mb-4">Изменение пароля</h2>					

<%= render "shared/errors", model: @user %>

<%= form_with model: @user, url: [:user, :password], method: :put, class: "auth-form auth-signup-form" do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="mb-3">
    <%= f.password_field :password, class: "form-control", placeholder: t('activerecord.attributes.user.password'), autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <small class="fst-italic">(<%= @minimum_password_length %> символов минимум)</small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: t('activerecord.attributes.user.password_confirmation'), autocomplete: "new-password" %>
  </div>

  <div class="form-actions text-center">
    <%= f.submit "Изменить мой пароль", class: "btn app-btn-primary w-100 theme-btn mx-auto" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>