<nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
  <ul class="app-menu list-unstyled accordion" id="menu-accordion">
    <%= nav_item_tag "Главная", root_path, icon: "house-door", active: request.path == "/" %>
    <%#= nav_item_tag "Пользователи", users_path, icon: "people" %>
    <%= nav_item_tag "Инвентарный учет", nil, icon: "list-check", active: request.path.start_with?("/accounting") do %>
      <%= sub_item_tag "Основные средства", accounting_assets_path %>
      <%= sub_item_tag "Материалы", nil %>
      <%= sub_item_tag "Документы", nil %>
      <%= sub_item_tag "Печать этикеток", nil %>
    <% end %>
    <%#= nav_item_tag "Документы", "docs.html", icon: "folder" %>
    <%#= nav_item_tag "Заказы", "orders.html", icon: "card-list" %>
    <%#= nav_item_tag "Страницы", nil, icon: "files" do %>
      <%#= sub_item_tag "Notifications", "notifications.html" %>
      <%#= sub_item_tag "Account", "account.html" %>
      <%#= sub_item_tag "Settings", "settings.html" %>
    <%# end %>
    <%#= nav_item_tag "Внешние", nil, icon: "columns-gap" do %>
      <%#= sub_item_tag "Login", "login.html" %>
      <%#= sub_item_tag "Signup", "signup.html" %>
      <%#= sub_item_tag "Reset password", "reset-password.html" %>
      <%#= sub_item_tag "404 page", "404.html" %>
    <%# end %>
    <%#= nav_item_tag "Графики", "charts.html", icon: "bar-chart-line" %>
    <%#= nav_item_tag "Справка", "help.html", icon: "question-circle" %>
  </ul><!--//app-menu-->
</nav><!--//app-nav-->

<div class="app-sidepanel-footer">
  <nav class="app-nav app-nav-footer">
    <ul class="app-menu footer-menu list-unstyled">
      <%#= nav_item_tag "Настройки", "settings.html", icon: "gear" %>
      <%#= nav_item_tag "Скачать", "https://themes.3rdwavemedia.com/bootstrap-templates/admin-dashboard/portal-free-bootstrap-admin-dashboard-template-for-developers/", icon: "download" %>
      <%#= nav_item_tag "Лицензия", "https://themes.3rdwavemedia.com/bootstrap-templates/admin-dashboard/portal-free-bootstrap-admin-dashboard-template-for-developers/", icon: "file-person" %>
    </ul><!--//footer-menu-->
  </nav>
</div><!--//app-sidepanel-footer-->