<%= tag.div class: "alert alert-danger d-flex flex-wrap align-items-center gap-2" do %>
  <%= bs_icon "exclamation-triangle-fill" %>
  <%= tag.strong "#{t('.attention')}:" %>
  <%= tag.span t('.for_deleted') %>
  <% if policy(item).destroy? %>
  <div class="ms-auto">
    <%= button_to link&.call(item), class: "btn btn-outline-danger", method: :delete, data: { turbo_confirm: t('global.confirm') } do %>
      <%= bs_icon('trash') %>
      <%= tag.span t('.delete_now') %>
    <% end %>
  </div>
  <% end %>
<% end if item.delete_mark %>