<%= form_with model: [:directories, location] do |f| %>
  <%= f.hidden_field :parent_id %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :parent, class: "form-label" %>
    <%= render partial: 'shared/breadcrumb', locals: {item: @location.parent, link: lambda {|l| new_directories_location_path(@location, location: {parent_id: l})} } %>
  </div>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: t('.name') %>
  </div>

  <div class="form-actions text-center">
    <%= link_to t(:cancel), directories_locations_path, class: "btn app-btn-secondary" %>
    <%= f.button :submit, class: "btn app-btn-primary" %>
  </div>
<% end %>