<li class="list-group-item">
  <%= tag.div do %>
    <div class="float-start">
      <%= bs_icon 'building' %>
    </div>

    <div class="float-end d-flex gap-2">
      <%= link_to new_directories_location_room_path(location), title: t('.add_room') do %>
        <%= bs_icon 'house-add' %>
      <% end %>
      <%= link_to directories_location_path(location), title: t('.edit_location') do %>
        <%= bs_icon 'pencil-square' %>
      <% end %>
    </div>

    <%= tag.div class: "text-truncate px-2", title: location.name do %>
      <%= location.name %>
      <div class="d-flex gap-2 py-1 flex-wrap">
        <% location.rooms.each do |room| %>
          <div class="img-thumbnail">
            <%= tag.span room.name %>
            <%= link_to directories_location_room_path(location, room), title: t('.edit_room') do %>
              <%= bs_icon 'pencil-square' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</li>