<% back_url = request.referer && session[:back_url] || accounting_materials_path %>
<% provide :page_title, "Материальные запасы" %>

<%= page_title @material.name, back_url do %>
  <%= render partial: "shared/accounting/upload_file", locals: {item: @material, title: t('.upload')} %>
<% end %>

<div class="table-responsive d-flex gap-2">
  <%= render partial: "shared/accounting/image_card", collection: @material.all_images, as: :image %>
</div>

<hr class="mb-4">

<div class="row g-4 settings-section mb-3">
  <div class="col-12 col-md-4">
    <h3 class="section-title">Данные инвентарного учета</h3>
    <div class="section-intro">Основные данные учета</div>
  </div>
  <div class="col-12 col-md-8 mt-1 mt-sm-4">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <div><strong>Наименование:</strong> <%= tag.span @material.name %></div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->
  </div>
</div>

<%= render partial: "shared/accounting/possessions", locals: { item: @material } %>
        
<div class="row g-4 settings-section">
  <div class="col-12 col-md-4">
    <div class="section-intro">Прочие данные инвентарного учета</div>
  </div>
  <div class="col-12 col-md-8 mt-1 mt-sm-4">
    <div class="app-card app-card-settings shadow-sm p-4 mb-3">
      <div class="app-card-body">
        <div class="row mb-4">
          <div class="col-lg">
            <div class="mb-2"><strong>Цена:</strong> <%= tag.span number_to_currency(@material.cost / @material.count, separator: ',', unit: '₽') %></div>
            <div class="mb-2"><strong>Количество:</strong> <%= tag.span @material.count %></div>
            <%= tag.div class: @material.description && "mb-2 mb-lg-0" do %>
              <strong>Cтоимость:</strong>
              <%= tag.span number_to_currency(@material.cost, separator: ',', unit: '₽') %>
            <% end %>
          </div>

          <% if @material.description %>
          <div class="col-lg">
            <div class="card text-bg-light">
              <div class="card-body">
                <h6 class="card-title">Информация:</h6>
                <%= tag.p @material.description %>
              </div>
            </div>
          </div>
          <% end %>
        </div>


        <div class="mb-2"><strong>Организация:</strong> <%= link_to @material.organization.name, accounting_materials_path(organization: @material.organization) %></div>
        <div class="mb-4"><strong><abbr title="Материально-ответственное лицо" class="initialism">МОЛ</abbr>:</strong> <%= link_to @material.mol.name, accounting_materials_path(mol: @material.mol) %></div>
        
        <div class="row">
          <div class="col-auto">
            <div class="mb-2">
              <strong>Счет учета:</strong>
              <%= tag.abbr @material.account.code, title: @material.account.name, class: "initialism" %>
            </div>
            <div class="mb-2"><strong>Код материала:</strong> <%= tag.span @material.code %></div>
          </div>
          <div class="col-auto">
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-auto">
            <%#= render partial: "add_edit_material", locals: { model: @material, text: "Изменить", title: "Редактирование основного средства (ОС)" } %>
          </div>
          <%# <div class="col-auto">
            <a class="btn app-btn-secondary" href="#">Cancel Plan</a>
          </div> %>
        </div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->

    <%= render partial: "shared/accounting/notes", locals: { item: @material } %>
  </div>
</div>