<% provide :page_title, "Справочник [cотрудники]" %>

<%= render partial: "shared/remove_action", locals: {item: @employee, link: lambda {|item| [:directories, item]}}%>

<%= page_title @employee.name, @back_url %>

<div class="d-flex gap-2">
  <%= render partial: "shared/image_card", collection: @employee.images, as: :image %>
</div>

<%= tag.hr class: "mb-4" if @employee.images.any? %>

<div class="row justify-content-center mt-4">
  <div class="col-lg-8">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <h4 class="card-title mb-3 d-flex">
          <span>Редактирование сотрудника</span>
          <%= link_to bs_icon('trash'), [:directories, @employee], class: "ms-auto", data: { turbo_method: :delete, turbo_confirm: t('global.confirm') } if @employee.code.nil? %>
        </h4>

        <%= render 'form', employee: @employee %>
      </div>
    </div>
  </div>
</div>