<% provide :page_title, "Справочник [cотрудники]" %>

<%= page_title t '.title' do %>
  <%= render partial: "shared/filters/search" %>
  <%= link_to [:new, :directories, :employee], class: "btn btn-primary flex-fill", data: { action: "click->modal#open", turbo_stream: "" } do %>
    <%= bs_icon 'person-add' %>
    <%= t('.new') %>
  <% end if policy(:employee).new? %>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#searchOptions" aria-expanded="false" aria-controls="searchOptions">
    <%= bs_icon 'funnel' %>
  </button>
  <%#= link_to t('.import'), import_directories_employees_path, class: "btn btn-sm btn-secondary flex-fill" %>
<% end %>

<% filters = params[:organization] || params[:photo] %>
<div class="collapse<%= filters && ' show' %>" id="searchOptions">
  <div class="app-card app-card-body shadow-sm p-3 mb-4">
    <%= render partial: "shared/filters/selecter", locals: { items: [OpenStruct.new({id: 0, name: '[Без организации]'})] + Organization.all, item: :organization, placeholder: "Организация", html_class: "mb-3" } %>
    <%= render partial: "shared/filters/selecter", locals: { items: [OpenStruct.new({id: 0, name: 'Не обязательно'}), OpenStruct.new({id: 1, name: 'С фото'}), OpenStruct.new({id: 2, name: 'Без фото'})], item: :photo, placeholder: "Наличие фото" } %>
  </div>
</div>

<% url = lambda {|item| [:directories, item.to_sym]} %>
<% active = lambda {|item| controller_name == item} %>
<%= render "shared/nav_tabs", items: directory_items, url: url, active: active %>

<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <ul id="emploees_list" class="list-group list-group-flush">
          <%= render @employees %>
        </ul>
      </div><!--//app-card-body-->		
    </div><!--//app-card-->

    <%= render partial: "shared/paginate", locals: { items: @employees, link: lambda {|q| directories_employees_path(q)} } %>
  </div><!--//tab-pane-->
</div><!--//tab-content-->