<%= render "shared/errors", model: room %>

<%= form_with model: [:directories, @location, room] do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: t('.name') %>
  </div>

  <div class="form-actions text-center">
    <%= link_to t(:cancel), @back_url, class: "btn app-btn-secondary" %>
    <%= f.button :submit, class: "btn app-btn-primary" %>
  </div>
<% end %>