<%
  asset.count ||= 1  
  human_cost = lambda {|cost| number_to_currency(cost, separator: ',', unit: '₽')}
%>

<tr>
  <td class="cell text-center">#</td>
  <td class="cell">
    <% name_with_count = (asset.count <= 1) ? asset.name : "#{asset.name} (#{asset.count} шт.)" %>
    <%= link_to name_with_count, [:accounting, asset], class: "truncate1", title: name_with_count %>
  </td>
  <td class="cell text-center"><%= asset.inventory_number %></td>

  <td class="cell text-center">
    <% if asset.date %>
      <span><%= l asset.date, format: "%e %b" %></span><span class="note"><%= asset.date.year %> год</span>
    <% end %>
  </td>
  <td class="cell text-center"><%= status_tag asset.account&.code %></td>

  <td class="cell text-center">
    <%= human_cost.call(asset.cost) %>
    <%= "<br/><small class=\"text-nowrap\">(#{human_cost.call(asset.cost / asset.count)}/шт)</small>".html_safe if asset.count > 1 %>
  </td>
</tr>