<%= simple_form_for [:accounting, @asset] do |f| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>
      <ul>
        <% asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.input :name %>
    <%= f.input :inventory_number %>
    <%#= f.input :count, as: :number %>
    <%#= f.input :date, as: :date_time_picker, input_html: { :style => "text-align: center" } %>
    <%= f.input :description, as: :text, :input_html => {rows: 5} %>
  </div>

  <div class="form-actions text-center">
    <%= link_to t(:cancel), accounting_assets_path, class: "btn app-btn-secondary" %>
    <%= f.button :submit, class: "btn app-btn-primary" %>
  </div>
<% end %>