<% provide :page_title, "Основные средства" %>

<%= page_title "Основные средства" do %>
  <%= render partial: "shared/filters/search" %>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#searchOptions" aria-expanded="false" aria-controls="searchOptions">
    <%= bs_icon 'funnel' %>
  </button>
<% end %>

<% filters = params[:mol] || params[:location] || params[:employee] || params[:photo] %>
<div class="collapse<%= filters && ' show' %>" id="searchOptions">
  <div class="card card-body mb-4">
    <%= render partial: "shared/filters/selecter", locals: { items: Mol.all, item: :mol, placeholder: "Материально ответственное лицо", html_class: "mb-3" } %>
    <%= render partial: "shared/filters/selecter", locals: { items: Room.all, item: :location, placeholder: "Место хранения", html_class: "mb-3", data: {name: "full_name"} } %>
    <%= render partial: "shared/filters/selecter", locals: { items: Employee.all, item: :employee, placeholder: "Ответственное лицо", html_class: "mb-3" } %>
    <%= render partial: "shared/filters/selecter", locals: { items: [OpenStruct.new({id: 0, name: 'Не обязательно'}), OpenStruct.new({id: 1, name: 'С фото'}), OpenStruct.new({id: 2, name: 'Без фото'})], item: :photo, placeholder: "Наличие фото" } %>
  </div>
</div>

<%= render "shared/nav_tabs", items: ['on_balance', 'out_balance', 'storage', 'all'], param: 'status', except: [:page] %>
				
<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover mb-0 text-left">
            <thead>
              <tr>
                <th class="cell text-center">UID</th>
                <th class="cell">Название</th>
                <th class="cell text-center">Инвентарный номер</th>
                <th class="cell text-center">Дата</th>
                <th class="cell text-center">Статус</th>
                <th class="cell text-center">Стоимость</th>
              </tr>
            </thead>
            <tbody>
              <%= render @accountings %>
            </tbody>
          </table>
        </div><!--//table-responsive-->
      </div><!--//app-card-body-->		
    </div><!--//app-card-->

    <%= render partial: "shared/paginate", locals: { items: @accountings, link: lambda {|q| accounting_assets_path(q)} } %>
  </div><!--//tab-pane-->
</div><!--//tab-content-->