<% provide :page_title, "Основные средства" %>

<%= page_title "Основные средства" do %>
  <%= render partial: "shared/filters/search" %>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#searchOptions" aria-expanded="false" aria-controls="searchOptions">
    <%= bs_icon 'funnel' %>
  </button>
<% end %>

<% filters = params[:mol] || params[:location] || params[:employee] || params[:photo] %>
<div class="collapse<%= filters && ' show' %>" id="searchOptions">
  <div class="card card-body mb-4">
    <%= render partial: "shared/filters/selecter", locals: { items: Mol.all, item: :mol, placeholder: "Материально ответственное лицо", html_class: "mb-3" } %>
    <%= render partial: "shared/filters/selecter", locals: { items: Room.all, item: :location, placeholder: "Место хранения", html_class: "mb-3", data: {name: "full_name"} } %>
    <%= render partial: "shared/filters/selecter", locals: { items: Employee.all, item: :employee, placeholder: "Ответственное лицо", html_class: "mb-3" } %>
    <%= render partial: "shared/filters/selecter", locals: { items: [OpenStruct.new({id: 0, name: 'Не обязательно'}), OpenStruct.new({id: 1, name: 'С фото'}), OpenStruct.new({id: 2, name: 'Без фото'})], item: :photo, placeholder: "Наличие фото" } %>
  </div>
</div>

<nav class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-1">
  <% @statuses.each do |key, value| %>
    <%= link_to t(key), accounting_assets_path(@query.merge(status: key).except(:page)), class: "flex-sm-fill text-sm-center nav-link#{' active' if @status == key}" %>
  <% end %>
</nav>
				
<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover mb-0 text-left">
            <thead>
              <tr>
                <th class="cell text-center">UID</th>
                <th class="cell">Название</th>
                <th class="cell text-center">Инвентарный номер</th>
                <th class="cell text-center">Дата</th>
                <th class="cell text-center">Статус</th>
                <th class="cell text-end">Стоимость</th>
                <th class="cell"></th>
              </tr>
            </thead>
            <tbody>
              <%= render @assets %>
            </tbody>
          </table>
        </div><!--//table-responsive-->
      </div><!--//app-card-body-->		
    </div><!--//app-card-->

    <%= render partial: "shared/paginate", locals: { items: @assets, link: lambda {|q| accounting_assets_path(q)} } %>
  </div><!--//tab-pane-->
</div><!--//tab-content-->



<%# <div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Инвентарный учет</h1>
  </div>
</div> %>

    <%# box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    border-radius: 15px;
    padding: 20px;
    background-color: white; %>
<%# <div class="app-card app-card-basic shadow-sm">
  <div class="app-card-header p-3 border-bottom-0">
    <div class="row align-items-center gx-3">
      <div class="col-auto">
        <div class="app-icon-holder">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-receipt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z"></path>
            <path fill-rule="evenodd" d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"></path>
          </svg>
        </div><!--//icon-holder-->
      </div><!--//col-->
      <div class="col-auto">
        <h4 class="app-card-title">Основные средства</h4>
      </div><!--//col-->
    </div>
  </div>
  <div class="app-card-body px-4">
    <%= datatable_tag @assets, columns: [{name: 'Название'}, {uid: "UID"}, {inventory_number: "Инвентарный номер"}], actions: [:show, lambda{|obj| content_tag :button, class: "btn btn-sm btn-link" do icon_tag("printer") end}] >
  </div>
  <div class="app-card-footer p-4 mt-auto">
    <a class="btn app-btn-secondary" href="#">Создать</a>
  </div>
</div> %>