<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto row align-items-center flex-nowrap">
      <%= link_to request.referer && session[:back_url] || accounting_assets_path, class: "col-auto btn app-btn-secondary" do %>
        <svg height="1.5em" width="1.0em" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 309.143 309.143" xml:space="preserve" fill="#000000">
          <path style="fill:#231F20;" d="M112.855,154.571L240.481,26.946c2.929-2.929,2.929-7.678,0-10.606L226.339,2.197 C224.933,0.79,223.025,0,221.036,0c-1.989,0-3.897,0.79-5.303,2.197L68.661,149.268c-2.929,2.929-2.929,7.678,0,10.606 l147.071,147.071c1.406,1.407,3.314,2.197,5.303,2.197c1.989,0,3.897-0.79,5.303-2.197l14.142-14.143 c2.929-2.929,2.929-7.678,0-10.606L112.855,154.571z"></path>
        </svg>
      <% end %>
      <h1 class="col-auto app-page-title mb-0">[#<%= @asset.uid %>] <%= @asset.name %></h1>
  </div>
  <div class="col-auto">
    <%= render partial: "shared/accounting/upload_file", locals: {item: @asset, title: "Загрузить фото ОС"} %>
  </div>
</div>

<div class="row g-4">
  <%= render partial: "shared/accounting/image_card", collection: @asset.images, as: :image %>
</div>

<hr class="mb-4">

<div class="row g-4 settings-section mb-3">
  <div class="col-12 col-md-4">
    <h3 class="section-title">Данные инвентарного учета</h3>
    <div class="section-intro">Основные данные учета</div>
  </div>
  <div class="col-12 col-md-8">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <div class="mb-2"><strong>Наименование:</strong> <%= tag.span @asset.name %></div>
        <div class="mb-2"><strong>Нахождение:</strong> <%= link_to @asset.location.name, accounting_assets_path(location: @asset.location) if @asset.location %></div>
        <div><strong>Ответственное лицо:</strong> <%= link_to "", "" %></div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->
  </div>
</div>
        
<div class="row g-4 settings-section mb-3">
  <div class="col-12 col-md-4">
    <div class="section-intro">Прочие данные инвентарного учета</div>
  </div>
  <div class="col-12 col-md-8">
    <div class="app-card app-card-settings shadow-sm p-4 mb-3">
      <div class="app-card-body">
        <div class="row mb-4">
          <div class="col-lg">
            <div class="mb-2"><strong>Инвентарный номер:</strong> <%= tag.span @asset.inventory_number %></div>
            <div class="mb-2"><strong>Коцичество:</strong> <%= tag.span @asset.count %></div>
            <div class="mb-4"><strong>Балансовая стоимость:</strong> <%= tag.span number_to_currency(@asset.cost, separator: ',', unit: '₽') %></div>

            <%= tag.div class: @asset.description && "mb-4 mb-lg-0" do %>
              <strong>Статус:</strong>
              <%= status_tag @asset.account.code %>
            <% end %>
          </div>

          <% if @asset.description %>
          <div class="col-lg mb-3">
            <div class="card text-bg-light">
              <div class="card-body">
                <h6 class="card-title">Информация:</h6>
                <%= tag.p @asset.description %>
              </div>
            </div>
          </div>
          <% end %>
        </div>

        <div class="mb-2"><strong>Организация:</strong> <%= link_to @asset.organization.name, accounting_assets_path(organization: @asset.organization) %></div>
        <div class="mb-4"><strong><abbr title="Материально-ответственное лицо" class="initialism">МОЛ</abbr>:</strong> <%= link_to @asset.mol.name, accounting_assets_path(mol: @asset.mol) %></div>
        
        <div class="row">
          <div class="col-lg">
            <div class="mb-2">
              <strong>Счет учета:</strong>
              <%= tag.abbr @asset.account.code, title: @asset.account.name, class: "initialism" %>
            </div>
            <div class="mb-2"><strong>Код учета в 1С:</strong> <%= tag.span @asset.code %></div>
          </div>
          <div class="col-lg">
            <div class="mb-2"><strong>Дата принятия к учету:</strong> <%= tag.span l @asset.start_date, format: "%e %B %Y год" if @asset.start_date %></div>
            <div class="mb-2"><strong>Дата ввода в эксплуатацию:</strong> <%= tag.span l @asset.date, format: "%e %B %Y год" if @asset.date %></div>
            <div class="mb-2"><strong>Срок полезного использования:</strong> <%= tag.span "#{@asset.useful_life} мес." if @asset.useful_life %></div>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-auto">
            <%#= render partial: "add_edit_asset", locals: { model: @asset, text: "Изменить", title: "Редактирование основного средства (ОС)" } %>
          </div>
          <%# <div class="col-auto">
            <a class="btn app-btn-secondary" href="#">Cancel Plan</a>
          </div> %>
        </div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->

    <%= render partial: "shared/accounting/notes", locals: { item: @asset } %>
  </div>
</div>

<%# <div class="app-card app-card-settings shadow-sm p-4">
  <div class="app-card-body">
    <div class="mb-2"></div>
  </div>
</div> %>

<p id="notice"><%= notice %></p>

<%#= link_to 'Destroy',  accounting_asset_path(@asset), data: { confirm: 'Удалить?' }, method: :delete %>