<% provide :page_title, "Основные средства" %>

<%= render partial: "shared/remove_action", locals: {item: @accounting, link: lambda {|item| [:accounting, item]}} %>

<%= page_title @accounting.name, @back_url do %>
  <%= render partial: "shared/upload_file", locals: {item: @accounting, title: t('.upload')} if policy(:asset).edit? %>
<% end %>

<div class="table-responsive">
  <div class="d-flex gap-2">
    <%= render partial: "shared/image_card", collection: @accounting.all_images, as: :image %>
  </div>
</div>

<%= tag.hr class: "mb-4" if @accounting.images.any? %>

<%= setting_section_tag "Данные инвентарного учета", "Основные данные учета"  do %>
  <%= render "accounting/assets/accounting" %>
<% end %>

<%= setting_section_tag nil, "Ответственное владение (хранение)"  do %>
  <%= render "accounting/possessions/accounting_possessions", item: @accounting %>
<% end if @accounting.possessions.any? || policy(:possession).edit? || policy(:possession).new? %>

<%= setting_section_tag nil, "Прочие данные инвентарного учета" do %>
  <%= render "accounting/assets/inventory_data" %>
<% end %>

<%= setting_section_tag nil, nil do %>
  <%= render "accounting/notes/accounting_notes", item: @accounting if @accounting.notes.any? || policy(:note).new? %>
<% end %>