<% provide :page_title, "Основные средства" %>

<%= page_title @asset.name, @back_url do %>
  <%= render partial: "shared/accounting/upload_file", locals: {item: @asset, title: t('.upload')} %>
<% end %>

<div class="table-responsive">
  <div class="d-flex gap-2">
    <%= render partial: "shared/accounting/image_card", collection: @asset.all_images, as: :image %>
  </div>
</div>

<%= tag.hr class: "mb-4" if @asset.images.any? %>

<div class="row g-4 settings-section mb-3">
  <div class="col-12 col-md-4">
    <h3 class="section-title">Данные инвентарного учета</h3>
    <div class="section-intro">Основные данные учета</div>
  </div>
  <div class="col-12 col-md-8 mt-1 mt-sm-4">
    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <div><strong>Наименование:</strong> <%= tag.span @asset.name %></div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->
  </div>
</div>

<%= render partial: "shared/accounting/possessions", locals: { item: @asset } %>
        
<div class="row g-4 settings-section mb-3">
  <div class="col-12 col-md-4">
    <div class="section-intro">Прочие данные инвентарного учета</div>
  </div>
  <div class="col-12 col-md-8 mt-1 mt-sm-4">
    <div class="app-card app-card-settings shadow-sm p-4 mb-3">
      <div class="app-card-body">
        <div class="row mb-4">
          <div class="col-lg">
            <div class="mb-2"><strong>Инвентарный номер:</strong> <%= tag.span @asset.inventory_number %></div>
            <div class="mb-2"><strong>Количество:</strong> <%= tag.span @asset.count %></div>
            <div class="mb-4"><strong>Балансовая стоимость:</strong> <%= tag.span number_to_currency(@asset.cost, separator: ',', unit: '₽') %></div>

            <%= tag.div class: @asset.description && "mb-4 mb-lg-0" do %>
              <strong>Статус:</strong>
              <%= status_tag @asset.account&.code %>
            <% end %>
          </div>

          <% if @asset.description %>
          <div class="col-lg mb-3">
            <div class="card text-bg-light">
              <div class="card-body">
                <h6 class="card-title">Информация:</h6>
                <%= tag.p @asset.description %>
              </div>
            </div>
          </div>
          <% end %>
        </div>

        <div class="mb-2">
          <strong>Организация:</strong>
          <%= link_to @asset.organization.name, accounting_assets_path(organization: @asset.organization) if @asset.organization %>
        </div>
        <div class="mb-4">
          <strong><abbr title="Материально-ответственное лицо" class="initialism">МОЛ</abbr>:</strong>
          <%= link_to @asset.mol.name, accounting_assets_path(mol: @asset.mol) if @asset.mol %>
        </div>
        
        <div class="row">
          <div class="col-lg">
            <div class="mb-2">
              <strong>Счет учета:</strong>
              <%= tag.abbr @asset.account&.code, title: @asset.account&.name, class: "initialism" %>
            </div>
            <div class="mb-2"><strong>Код учета в 1С:</strong> <%= tag.span @asset.code %></div>
          </div>
          <div class="col-lg">
            <div class="mb-2"><strong>Дата принятия к учету:</strong> <%= tag.span l @asset.start_date, format: "%e %B %Y год" if @asset.start_date %></div>
            <div class="mb-2"><strong>Дата ввода в эксплуатацию:</strong> <%= tag.span l @asset.date, format: "%e %B %Y год" if @asset.date %></div>
            <div class="mb-2"><strong>Срок полезного использования:</strong> <%= tag.span "#{@asset.useful_life} мес." if @asset.useful_life %></div>
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-auto">
            <%#= render partial: "add_edit_asset", locals: { model: @asset, text: "Изменить", title: "Редактирование основного средства (ОС)" } %>
          </div>
          <%# <div class="col-auto">
            <a class="btn app-btn-secondary" href="#">Cancel Plan</a>
          </div> %>
        </div>
      </div><!--//app-card-body-->
    </div><!--//app-card-->

    <%= render partial: "shared/accounting/notes", locals: { item: @asset } %>
  </div>
</div>