<%= render "shared/errors", model: asset_type %>

<%= form_with model: [:directories, asset_type] do |f| %>
  <%= f.hidden_field :parent_id %>

  <% if @asset_type.parent %>
  <div class="mb-3">
    <%= f.label :asset_type, class: "form-label" %>
    <%= render partial: 'shared/breadcrumb', locals: {item: @asset_type.parent, link: lambda {|d| new_directories_asset_type_path(asset_type: {parent_id: d})} } %>
  </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: t('.name') %>
  </div>

  <div class="form-actions text-center">
    <%= link_to t('global.cancel'), @back_url, class: "btn btn-outline-secondary" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>