<% provide :page_title, "Справочник [типы ресурсов]" %>

<%= page_title t '.title' do %>
  <%= link_to new_directories_asset_type_path, class: "btn btn-primary flex-fill" do %>
    <%= bs_icon 'folder-plus' %>
    <%= t('.new') %>
  <% end %>
<% end %>

<% url = lambda {|item| [:directories, item.to_sym]} %>
<% active = lambda {|item| controller_name == item} %>
<%= render "shared/nav_tabs", items: directory_items, url: url, active: active %>

<div class="app-card app-card-orders-table shadow-sm mb-5">
  <div class="app-card-body p-3">
    <div class="treeview">
      <%= fields_for :asset_types do |f| %>
        <%= nested_li @asset_types do |asset_type| %>
          <div style="user-select: none">
            <div class="float-start">
              <%#= bs_icon 'dash-square' %>
              <%#= f.check_box :id, class: "ms-2 align-middle"  %>
              <%= bs_icon 'folder' %>
              <%= tag.span class: "sort" do %>
                <%= bs_icon 'grip-vertical' %>
              <% end if true %>
            </div>

            <div class="float-end d-flex gap-2">
              <%= link_to new_directories_asset_type_path(asset_type: {parent_id: asset_type}), title: t('.add_asset_type') do %>
                <%= bs_icon 'folder-plus' %>
              <% end %>
              <%= link_to directories_asset_type_path(asset_type), title: t('.edit_asset_type') do %>
                <%= bs_icon 'pencil-square' %>
              <% end %>
            </div>

            <div  style="user-select: text">
              <%= tag.div asset_type.name, class: "text-truncate px-2", title: asset_type.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>