<%= form_with model: [:accounting, item], method: :patch, enctype: "multipart/form-data", class: "flex-fill" do |f| %>
  <button type="button" class="btn btn-primary w-100" onclick="document.getElementById('<%= item.model_name.param_key %>_images').click()">
    <%= bs_icon 'upload', nil, class: 'me-2' %>
    <%= title %>
  </button>
  <%= f.file_field :images, accept: "image/*", multiple: true, class: "d-none", onchange: "this.form.submit()" %>
<% end %>