<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= full_title yield(:page_title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag '/favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', nonce: true %>
  </head>

  <body class="app" data-lang="<%= I18n.locale %>">
    <%= render :partial => "notify" %>

    <%= render :partial => "header" %>
    <div class="app-wrapper">
      <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div id="app" class="container-xl">
          <%= yield %>
        </div>
      </div>

      <%= render :partial => "footer" %>
    </div><!--//app-wrapper-->
  </body>
</html>
