<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= full_title yield(:page_title) %></title>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag '/favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="app app-signup p-0" data-lang="<%= I18n.locale %>">
    <%= render "notify" %>

    <div class="row g-0 app-auth-wrapper">
	    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
		    <div class="d-flex flex-column align-content-end">
			    <div class="app-auth-body mx-auto">
            <div class="app-auth-branding mb-4">
              <%= link_to root_path, class: "app-logo" do %>
                <%= image_tag "app-logo.svg", class: "logo-icon me-2", alt: "logo" %>
              <% end %>
            </div>

            <div class="auth-form-container text-start mx-auto">
              <%= yield %>
            </div>
			    </div><!--//auth-body-->

          <%= render "footer", css_class: "app-auth-footer" %>
		    </div><!--//flex-column-->   
	    </div><!--//auth-main-col-->

	    <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
		    <div class="auth-background-holder">			    
		    </div>
		    <div class="auth-background-mask"></div>
		    <div class="auth-background-overlay p-3 p-lg-5">
			    <div class="d-flex flex-column align-content-end h-100">
				    <div class="h-100"></div>
				    <div class="overlay-content p-3 p-lg-4 rounded">
					    <h5 class="mb-3 overlay-title">Добро пожаловать на itPortal</h5>
					    <div>Это система-помощник для быстрого и понятного решения повседневных рабочих процессов. Функциональными возможностями itPortal описаны <a href="/service">тут</a>.</div>
				    </div>
				</div>
		    </div><!--//auth-background-overlay-->
	    </div><!--//auth-background-col-->
    
    </div><!--//row-->
  </body>
</html>