<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= full_title yield(:page_title) %></title>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag '/favicon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
  </head>

  <body class="app" data-lang="<%= I18n.locale %>">
    <div class="container">
      <div class="app-branding p-0 text-center">
        <%= link_to root_path, class: "app-logo" do %>
          <%= image_tag "app-logo.svg", class: "logo-icon me-2", alt: "logo" %>
          <span class="logo-text">IT PORTAL</span>
        <% end %>
      </div>

      <h4 class="text-center mb-4"><%= yield(:page_title) %></h4>
      
      <div class="app-card app-card-orders-table shadow-sm mb-2">
        <div class="app-card-body p-4">
          <%= yield %>
        </div>
      </div>
    
      <%= render "footer" %>
    </div>
  </body>
</html>
